/*===== GOGGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/*=== Colors ===*/
:root {
  --first-color: #0396A6;
  --dark-color: #000;
  --white-color: #F2F2F2;
}

/*=== Typo ===*/
:root {
  --body-font: 'Open Sans', sans-serif;
  --biggest-font-size: 3.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 7rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=== z index ===*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
